
@font-face {
    font-family: 'Lemon Milk'; /* Nombre oficial que aparece al abrir el archivo */
    src: url('../fonts/LEMONMILK-Regular.otf'); 
}

.fuente-lemon {
    -fx-font-family: 'Lemon Milk'; 
}

@font-face {
    font-family: 'MADE Tommy Soft'; 
    src: url('../fonts/MADE-Tommy-Soft-Medium.otf'); 
}

.fuente-tommy {
    -fx-font-family: 'MADE Tommy Soft';
    -fx-font-weight: 700;
}

@font-face {
    font-family: 'KG Perfect Penmanship Regular'; 
    src: url('../fonts/KGPerfectPenmanship.otf'); 
}

.fuente-perfectP {
    -fx-font-family: 'KG Perfect Penmanship Regular'; 
; 
}

@font-face {
    font-family: 'Simply Olive'; 
    src: url('../fonts/Simply-Olive.ttf'); 
}

.fuente-olive {
    -fx-font-family: 'Simply Olive'; 
; 
}

@font-face {
    font-family: 'Bouncy Thin PERSONAL USE ONLY'; 
    src: url('../fonts/Bouncy-Thin.otf'); 
}

.fuente-bouncy {
    -fx-font-family: 'Bouncy Thin PERSONAL USE ONLY'; 
; 
}

@font-face {
    font-family: 'Times New Romance'; 
    src: url('../fonts/Times-New-Romance.otf'); 
}

.fuente-newromance {
    -fx-font-family: 'Times New Romance'; 
}

@font-face {
    font-family: 'Super Chips'; 
    src: url('../fonts/Super-Chips.ttf'); 
}

.fuente-superchips {
    -fx-font-family: 'Super Chips';
}

@font-face {
    font-family: 'Somelist'; 
    src: url('../fonts/Somelist.otf'); 
}

.fuente-somelist {
    -fx-font-family: 'Somelist';
}

@font-face {
    font-family: "Luckiest Guy";
    src: url('../fonts/LuckiestGuy-Regular.ttf'); 
}

.fuente-luckiest {
    -fx-font-family: "Luckiest Guy";
}
