.fondo-1 {
    -fx-background-image: url('../img/fondo_1.png');
    -fx-background-size: stretch;
    -fx-background-position: center;
}
.fondo-2 {
    -fx-background-image: url('../img/fondo_2.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}
.fondo-3 {
    -fx-background-image: url('../img/fondo_3.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}
.fondo-4 {
    -fx-background-image: url('../img/fondo_4.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}
.fondo-5 {
    -fx-background-image: url('../img/fondo_5.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}
.fondo-6 {
    -fx-background-image: url('../img/fondo_6.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}
.fondo-7 {
    -fx-background-image: url('../img/fondo_7.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}
.fondo-8 {
    -fx-background-image: url('../img/fondo_8.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}


